*::-webkit-scrollbar-track {
  border-radius: 10px;
}
  
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c2c2c2;
}
td::-webkit-scrollbar {
  height: 4px;
}